{% extends 'layout.html' %}

<html>
    <head>

    </head>
    <body>
        {% block body %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
              <img src="https://seeklogo.com/images/O/orang-tua-logo-6ADEA5230B-seeklogo.com.png">
              <h3 class="display-4">Its All About Wine</h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h3>Manfaat dan Resiko Mengkonsusmi Wine</h3>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <p>Manfaat Positif dari Wine
                    Terlepas dari risiko yang terkandung di dalamnya, wine memiliki beberapa dampak yang bermanfaat bagi tubuh, antara lain:
                    
                    Meningkatkan kepadatan tulang. Penelitian menyimpulkan bahwa konsumsi zat alkohol secara moderat (tingkat sedang) dapat meningkatkan kepadatan mineral pada tulang.
                    Menurunkan risiko kematian akibat penyakit jantung. Mengonsumsi alkohol dalam takaran yang sehat terbukti bermanfaat bagi kesehatan jantung.
                    Mengurangi risiko depresi.
                    Mengurangi risiko kanker, termasuk kanker usus, ovarium, dan prostat.
                    Mengurangi risiko demensia dan penyakit Alzheimer.
                    Mengurangi resistensi insulin dan diabetes tipe 2, khususnya pada perempuan.
                    Meningkatkan kadar kolesterol Alkohol memiliki pengaruh terhadap peningkatan kolesterol baik atau HDL hingga 20 persen jika dikonsumsi secara moderat. Makin tinggi tingkat HDL, maka makin rendah risiko penyakit jantung. Namun manfaat tersebut baru bisa diperoleh jika disertai dengan pola makan sehat dan aktivitas fisik secara teratur.</p>
            </div>
            <div class="col">
                <p>Waspada Risiko yang Ditimbulkan
                    Meski bermanfaat, jika dikonsumsi dalam jumlah yang berlebihan, wine dapat mengganggu kesehatan. Hal ini adalah akibat adanya kandungan zat alkohol di dalam wine.
                    
                    Meningkatkan risiko sakit jantung
                    Ketika zat alkohol dikonsumsi secara berlebihan, dapat memicu beberapa kondisi, seperti tekanan darah tinggi, kolesterol tinggi, dan lemahnya otot jantung.  Penelitian juga menyimpulkan bahwa konsumsi alkohol berlebihan berisiko menyebabkan peningkatan risiko penyakit jantung serta gangguan ritme jantung.
                    Mengganggu proses pembentukan jaringan tulang
                    Jika alkohol diminum melebihi porsi yang wajar, dapat mengganggu proses pembentukan jaringan tulang. Jika hal tersebut dilakukan dalam jangka panjang, dapat meningkatkan risiko patah tulang.
                    Meningkatkan risiko kanker
                    Zat alkohol dapat meningkatkan risiko terkena kanker mulut, tenggorokan, hati, dan usus. Bagi wanita, konsumsi wine secara berlebihan dapat meningkatkan risiko kanker payudara.
                    Gangguan pada otak
                    Secara jangka panjang, konsumsi alkohol secara berlebihan dapat mengganggu perkembangan sel otak baru, sekaligus meningkatkan risiko mengalami depresi. Sedangkan, akibat jangka pendek yang kerap ditemui akibat mengonsumsi zat alkohol berlebihan dapat berupa perubahan perilaku dan gangguan memori.
                    Memicu dehidrasi
                    Minuman beralkohol dapat memicu kekurangan cairan pada tubuh. Tidak jarang, hal ini diikuti dengan sakit kepala.
                    Risiko kecanduan
                    Mengonsumsi minuman beralkohol, termasuk wine, memungkinkan seseorang menjadi kecanduan alkohol. Saat itu terjadi, tentunya akan sulit untuk mengendalikan asupan zat alkohol.</p>
            </div>
        </div>
        </div>
        {% endblock body %}
    </body>
</html>